<nav class="side-nav">
    <div class="side-nav-header">
        <img src="favicon.ico" alt="logo" class="logo">
        <h1>Creative Tim</h1>
    </div>
    
    <div class="side-nav-items">
        <a class="nav-item" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="assets/icons/dashboard_icon.svg" alt="dashboard" class="icon">
            <span>Dashboard</span>
        </a>
        <a class="nav-item" routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="assets/icons/profil_icon.svg" alt="profile" class="icon">
            <span>User Profile</span>
        </a>
        <a class="nav-item" routerLink="/table-list" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="assets/icons/list_icon.svg" alt="table list" class="icon">
            <span>Table List</span>
        </a>
    </div>
    

</nav>
