<div class="dashboard-container">
    <p>Dashboard</p>
    <div class="dashboard-content">
        <div class="dashboard-cards">
            <mat-card class="stats-card" appearance="outlined">
                <div class="card-icon green">
                    <mat-icon>store</mat-icon>
                </div>

                <div class="card-header">
                    <span class="label">Revenue</span>
                </div>

                <div class="card-value">
                    <span class="value">$34,245</span>
                    <span class="unit"></span>
                </div>

                <div class="card-divider"></div>

                <div class="card-footer">
                    <mat-icon>schedule</mat-icon>
                    <span>Last 24 Hours</span>
                </div>
            </mat-card>

            <mat-card class="stats-card" appearance="outlined">
              <div class="card-icon red">
                  <mat-icon>info</mat-icon>
              </div>

              <div class="card-header">
                  <span class="label">Fixed Issues</span>
              </div>

              <div class="card-value">
                <span class="value">75</span>
              </div>

              <div class="card-divider"></div>

              <div class="card-footer">
                  <mat-icon>local_offer</mat-icon>
                  <span>Tracked from Github</span>
              </div>
          </mat-card>

          <mat-card class="stats-card" appearance="outlined">
            <div class="card-icon cyan">
                <mat-icon svgIcon="twitter"></mat-icon>
            </div>

            <div class="card-header">
                <span class="label">Twitter</span>
            </div>

            <div class="card-value">
                <span class="value">-</span>
            </div>

            <div class="card-divider"></div>

            <div class="card-footer">
                <mat-icon>update</mat-icon>
                <span>Just Updated</span>
            </div>
        </mat-card>

        <mat-card class="stats-card" appearance="outlined">
          <div class="card-icon">
              <mat-icon>content_copy</mat-icon>
          </div>

          <div class="card-header">
              <span class="label">Used Space</span>
          </div>

          <div class="card-value">
              <span class="value">49/50</span>
              <span class="unit">GB</span>
          </div>

          <div class="card-divider"></div>

          <div class="card-footer">
              <mat-icon class="warn">warning</mat-icon>
              <a href="#">Get More Space...</a>
          </div>
      </mat-card>
        </div>
        
    </div>

</div>
