<div class="dashboard-container">
    <p>Dashboard</p>
    <div class="dashboard-content">
        <div class="dashboard-cards">
            <mat-card class="example-card" appearance="outlined">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Small</mat-card-subtitle>
                    <img mat-card-sm-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" >
                  </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                  {{longText}}
                </mat-card-content>
              </mat-card>

              <mat-card class="example-card" appearance="outlined">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Small</mat-card-subtitle>
                    <img mat-card-sm-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" >
                  </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                  {{longText}}
                </mat-card-content>
              </mat-card>

              <mat-card class="example-card" appearance="outlined">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Small</mat-card-subtitle>
                    <img mat-card-sm-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" >
                  </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                  {{longText}}
                </mat-card-content>
              </mat-card>

              <mat-card class="example-card" appearance="outlined">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Small</mat-card-subtitle>
                    <img mat-card-sm-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" >
                  </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                  {{longText}}
                </mat-card-content>
              </mat-card>
        </div>
        
    </div>

</div>
